*,::after,::before{
    padding: 0; margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    line-height: 1.7;
    position: relative;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

ul{ list-style-type: none;}
a{ display: inline-block; text-decoration: none;}
a,p,li{
    font-size: 1.4rem;
    letter-spacing: .05em;
    word-spacing: .08em;
}

section , footer , header{ overflow: hidden;}